body{
    color:var(--white);
    background:var(--purple);
    overflow-x: hidden;
}
p{
    font-size:1.2rem;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    background-color:var(--white);
    border-radius:6px;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat+Alternates&family=Roboto&family=Ubuntu:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
    font-family: 'Comfortaa', sans-serif;
}
:root{
    --purple:#944AFF;
    --white:#fff;
    --dark:#1b1b1b;
    --azul:#04001D;
}
.navigation{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:solid 0.1px gray;
    padding:30px 150px;
    width: 100%;
    transition: all 0.5s;
    position:fixed;
    background-color: var(--azul);
    z-index:2;
}
.navigation ul{
    display: flex;
    gap:5rem;
}
.navigation ul li a{
    align-items: center;
    text-decoration:none;
    font-size:18px;
    font-weight: 500;
    color:var(--white);
}
.navigation ul li a:hover{
    color:var(--purple);
    transition:0.5s;
}
.menu{
    cursor:pointer;
    display:none;
}
.menu .bar{
    display:block;
    width:28px;
    height:3px;
    border-radius:3px;
    background:var(--white);
    margin:5px auto;
    transition:all 0.3s;
}
.home{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color:var(--azul);
    padding:150px;
}
.home-text{
    max-width:35rem;
}
.text-h4{
    color:var(--purple);
    font-size:1.5rem;
    margin-bottom:1rem;
}
.text-h1{
    font-size:3rem;
    margin-bottom:1rem;
}
.home-text p{
    margin-bottom:4rem;
}
.home-btn{
    padding:15px 45px;
    background-color:var(--purple);
    border-radius:5px;
    color:var(--white);
    font-weight:800;
    transition:all 0.5s;
}
.home-btn:hover{
    background-color:#6c3fab;
}
.home-img{
    position:relative;
    width:600px;
}
.home-img img{
    width:100%;
    height:auto;
    /*animation:floata 4s ease-in-out infinite;*/
}
#astronauta{
    width:80px;
    height: auto;
    animation:floata 4s ease-in-out infinite;
    position:absolute;
    right:500px;
    bottom:40px;
}
@keyframes floata{
    0%, 100%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-40px);
    }
}
.sobre{
    background-image: linear-gradient(-180deg, var(--azul) 10%,
    var(--purple) 100%);
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}
.sobre-text{
    /*background-color: var(--purple);*/
    max-width:35rem;
}
#sobre-text-h1{
    font-size:3rem;
    margin-bottom:1rem;
    padding-left:1rem;
    border-left:solid .8rem var(--purple);
}
.conteiner-pai{
    display:flex;
    flex-wrap:wrap;
    padding:1.5rem;
    gap:10px
}
.filho{
    height:10rem;
    width: 14rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    border-radius:0.8rem;
    padding:1.5rem 1.2rem;
}
.filho h1{
    font-size:1.5rem;
    margin-bottom:10px;
}
.filho p{
    font-size:0.9rem;
}
.sobre-solucao{
    margin-top:8rem;
    display:flex;
    justify-content:space-between;
}
.solucao-text{
    max-width:35rem;
}
#solucao-h1{
    font-size:3rem;
    margin-bottom:1rem;
    padding-left:1rem;
    border-left:solid .8rem var(--purple);
}
.solucao-text p{
    margin-bottom:3rem;
}
.solucao-text a{
    background-color:#6f3488
}
.solucao-img{
    width:40%;
}
.solucao-img img{
    width:100%;
}

footer {
	background-color: var(--dark);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 1rem 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

@media (max-width:450px){
    /* nav */
    .navigation{
        padding:18px 20px;
    }
    .menu{
        display:block;
    }
    /* transformando os filhos do menu hambúrguer em um x quando for clicado*/
    .menu.ativo .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity:0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        right:-100%;
        top:70px;
        width:30%;
        height:50%;
        flex-direction:column;
        gap:10px;
        align-items: center;
        background-color:rgba(148, 74, 255);
        transition:0.3s;
        justify-content:center;
        border-radius: 5px;
    }
    .nav-item{
        margin:16px 0
    }
    .nav-menu.ativo{
        right:0
    }
    .navigation ul li a:hover{
        color:#c67ac1;
        background-color: #fff;
        border-radius:4px;
        padding: 8px;
    }
    /* home */
    .home{
        padding:120px 5%;
        flex-direction:column;
        text-align: center;
        gap:20px;
    }
    .home-text{
        padding: 15px;
    }    
    .text-h4{
        font-size: 1.4rem;
    }
    .home p{
        font-size:1.2rem;
    }
    .home-img{
        width: 100%;
        z-index:0;
    }
    #astronauta{
        left:5%;
        width: 15%;
    }
    /* sobre */
    .sobre{
        padding:120px 0;
        justify-content: center;
        height: auto;
    }
    #sobre-text-h1{
        padding:0 8%;
    }
    #sobre-p{
        font-size:1.2rem;
        padding: 0 10%;
    }
    .filho p{
        font-size:1.2rem;
    }
    .conteiner-pai{
        width: 100vw;
        height:auto;
        justify-content: center;
        gap:20px;
    }
    .filho{
        width: 90%;
    }
    .sobre-img{
        width: 400px;
        padding:50px
    }
    .sobre-img img{
        width: 100%;
    }
    .sobre-solucao{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:4rem;
    }
    .solucao-text{
        justify-content: center;
        align-items: center;
        padding:0 10%;
    }
    #solucao-h1{
        padding:0 8%;
        margin-bottom:2rem;
    }
    #solucao-p{
        font-size:1.2rem;
        margin-bottom:4rem;
    }
    #a-solucao{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    }
    .solucao-img{
        margin-top:6rem;
        width: 90%;
    }
    .solucao-img img{
        width: 100%;
    }
}

